/* about.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Montserrat:wght@400;700&display=swap');
@import url('global.css');

body {
    display: flex; /* Changed to flex to manage layout better */
    flex-direction: column; /* Stack elements vertically */
    font-family: var(--primary-font);
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
    min-height: 100vh; /* Ensures the body takes at least the height of the viewport */
    margin: 0; /* Reset default margins */
}

header {
    background-color: var(--mixed-color);
    /* fallback for browsers that don't support color-mix() */
    background-color: purple; /* A simple fallback */
}

main {
    flex: 1;
    padding: 2rem; /* Adjust padding as needed */
    max-width: 1200px;
    margin-right: auto; /* Only apply margin to the right */
    margin-left: 3.5rem; /* Adjust left margin to give some space from the edge */
}




