/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Montserrat:wght@400;700&display=swap');
@import url('global.css');

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Make sure html and body are at least the height of the viewport */
    margin: 0; /* Reset default margins */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--primary-font);
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
    margin: 0;
}

header {
    background: var(--primary-color);
    padding: 1rem;
    color: white;
    
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #ddd;
}

main {
    flex: 1;
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

section {
    margin-bottom: 2rem;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 0.5rem;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a img {
    width: 24px;
    height: auto;
    vertical-align: middle;
}


@media only screen and (max-width: 450px) {
    header nav ul {
        flex-direction: column; /* Stack the navigation items */
        align-items: center; /* Center-align the items */
    }

    header nav ul li a {
        font-size: 1rem; /* Increase font size for readability */
        /* Additional styling if necessary */
    }

    /* Adjustments for main and footer */
    main {
        padding: 1rem;
        max-width: 100%;
        margin: 0;
    }

    footer {
        padding: 0.5rem 1rem;
    }
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Adjust styles for medium screens (tablets) */
    main {
        padding: 1.5rem; /* Adjust padding */
    }

}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    /* Adjust styles for large screens (desktops) */
    
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

